<div class="main-container">
    <div class="container-new-button">
        <button (click)="goIndividualRecipe()" type="button" class="recipe-btn save-btn">
            Nueva Receta
        </button>
        <app-search-bar (searchItem)="searchRecipes($event)"></app-search-bar>
    </div>

    <div [ngClass]="{'selected': favoriteService.getFavorites()}" class="container-favorites"
        (click)="favoritesRecipes()">
        <img src="assets/heart-solid.svg" style="height: 15px;">
        <div>Favoritos</div>
    </div>

    <div *ngIf="recipeService.getRecipes()" class="recipes-container">
        <div class=""
            *ngFor="let recipe of recipeService.getRecipes() | paginate: { itemsPerPage: 5, currentPage: p } | lengthDescription">
            <app-card-recipe [recipe]="recipe"></app-card-recipe>
        </div>
    </div>
</div>

<div *ngIf="recipeService.getRecipes()">
    <p *ngIf="recipeService.getRecipes().length == 0" class="text-danger text-nodata">No se encontraron recetas con los filtros aplicados</p>
</div>

<ng-container *ngIf="recipeService.getRecipes()">
    <pagination-controls *ngIf="recipeService.getRecipes().length > 5" (pageChange)="p = $event" previousLabel="Atrás"
        nextLabel="Siguiente"></pagination-controls>
</ng-container>