<div class="main-container">
    <div class="container-new-button">
        <button (click)="goIndividualRecipe()" type="button" class="recipe-btn save-btn">
            Nueva Receta
        </button>
        <app-search-bar (searchItem)="searchRecipes($event)"></app-search-bar>
    </div>

    <div class="container-favorites">
        <a style="margin-left: 7px;"><i class="fad fa-book-heart"></i></a>
        <div>Favoritos</div>
    </div>

    <div class="recipes-container" [ngClass]="{'recipes-container-2': recipes.length > 3}">
        <div class="recipe"
            *ngFor="let recipe of recipes | paginate: { itemsPerPage: 2, currentPage: p } | lengthDescription">
            <app-card-recipe [recipe]="recipe"></app-card-recipe>
        </div>
    </div>
</div>

<pagination-controls (pageChange)="p = $event" previousLabel="Atrás" nextLabel="Siguiente"></pagination-controls>