/* You can add global styles to this file, and also import other style files */
:root {
    /* background */
    --color-1: #BCF5A9;
    --color-2: #ECCEF5;
    /* color para texto */
    --color-3: rgba(0, 0, 0, 0.644);
    --font-family-1: "Poppins", sans-serif;
    --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body{
    background-color: var(--color-2);
}
