<nav class="nav-container">
    <ul class="link-list">
        <li [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.router"
            *ngFor="let item of navMenu">
            <ng-container *ngIf="item.name === 'Home'; else noHome">
                <span (click)="resetFavorites()">{{item.name}}</span>
            </ng-container>
            <ng-template #noHome>
                <span>{{item.name}}</span>
            </ng-template>
        </li>
    </ul>
    <div class="exit-container">
        <img src="assets/sign-out-alt-solid.svg" style="height: 18px; cursor: pointer;" (click)="logout()">
    </div>
</nav>