.nav-container {
    width: 100%;
    height: 4rem;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

li {
    font-size: 16px;
    margin: 0 1.5rem;
    font-weight: 700;
    color: var(--color-3);
}

li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.exit-container {
    position: absolute;
    right: 50px;
}

.hyperlink-icon {
    color: var(--color-3);
}

.exit-container:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 420px) {
    .exit-container {
        top: 0;
        right: 0;
        padding: 10px;
    }

    .hyperlink-icon {
        font-size: 12px;
    }
}