.card {
    border-radius: 10px;
    border: none;
    max-width: 500px;
    height: 330px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 70%;
    height: 200px;
    padding-top: 10px;
}

.card-title {
    font-family: var(--font-family-1);
    font-weight: bold;
}

.card-text {
    font-family: var(--font-family-1);
    color: black;
}

@media (max-width: 350px) {
    .card {
        width: 80vw;
    }
}